.dashboard {
  display: flex;
  gap: 10px;
  font-family: "Outfit", sans-serif;
  background: #f8f9fa;
  min-height: 500px;
  padding: 20px;
  box-sizing: border-box;
}
.dashboard--content {
  background: #fff;
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  justify-content: space-between;
  overflow-y: auto;
}
.chatbot-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 1000;
  transition: transform 0.2s ease-in-out;
}
.chatbot-icon:hover {
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
    margin: 10px;
  }
  .dashboard--content {
    flex-direction: column;
    padding: 1rem;
    gap: 1rem;
  }
}
